.wheather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 80%;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.location {
  font-size: 2rem;
  font-weight: 600;
}

.temp {
  font-size: 4.5rem;
  font-weight: 700;
}

.description {
  left: 90%;
  transform-origin: 0 0;
  font-size: 1.3rem;
  font-weight: 500;
  bottom: 22px;
  transform: rotate(-90deg);
}

.currentData {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.feels,
.humidity,
.wind {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
}

.download-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.donwload-button {
  width: 50%;
  border-radius: 20px;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  background-color: rgba(255, 170, 0, 0.8);
}
