.App {
  height: 100%;
  min-height: 100vh;
  background: url(./assets/sky.png);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

div {
  color: white;
}
